{{ define "main" }}
<div class="td-content">
  <h1>{{ .Title }}</h1>
  <dl>
    <dt>Description of the Feature</dt>
    <dd>{{ .Params.description }}</dd>
    <dt>Author</dt>
    <dd>{{ .Params.author }}</dd>
    <dt>Implemented During</dt>
    <dd>{{ .Params.implementedDuring }}</dd>
    <dt>Status</dt>
    <dd>{{ .Params.status }}</dd>
    <dt>Repositories</dt>
    <dd>
      <ul>
      {{ range .Params.repositories }}
        <li>
          {{ if .repoUrl }}
            <a href="{{ .repoUrl }}">{{ .repoUrl }}</a>{{ if .branch }} (Branch <a href="{{ .repoUrl }}/-/tree/{{ .branch }}?ref_type=heads">{{ .branch }}</a>){{ end }}:
            {{ .repoChanges }}
          {{ else }}
            (tbd.)
          {{ end }}
        </li>
      {{ end }}
      </ul>
    </dd>
    <dt>Last Update</dt>
    <dd>{{ .Lastmod.Format "2006-01-02" }}</dd>
  </dl>
</div>
{{ .Content }}
{{ end }}
